@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

header {
  background-color: #ffc017;
  font-family: "Spectral", serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5em 2em;
}

nav li {
  list-style: none;
  text-decoration: none;
  display: inline;
  margin: 0 15px;
  cursor: pointer;
}

#startedbtn {
  background-color: black;
  color: white;
  padding: 10px 15px;
  border-radius: 50px;
}
#startedbtn:hover,
#readingbtn:hover {
  background-color: #424242;
}

hr {
  border: none;
  height: 1px;
  background-color: black;
  margin: 0;
}
.curious {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.description {
  margin-top: 5%;
  margin-left: 10%;
}
.description h1 {
  font-size: 100px;
  margin-bottom: 0.3em;
}

.description p {
  font-size: 24px;
  margin-bottom: 1em;
}

#readingbtn {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 40px;
  border-radius: 50px;
  cursor: pointer;
}

/* HEADER COMPLETATO */

.trending {
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 2em 5% -1em 5%;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", serif;
}

.tabelle {
  display: flex;
  gap: 10%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 11%;
}

.correlati {
  line-height: 30px;
  position: relative;
  width: 26%;
  margin-top: 2em;
}

.correlati:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: rgb(250, 250, 250);
}

.correlati img {
  border-radius: 50%;
  width: 1.5em;
}

.correlati h2 {
  font-weight: bold;
}

.correlati p {
  display: inline;
}

.correlati span {
  color: rgb(223, 221, 221);
  font-size: 36px;
  font-weight: bold;
  position: absolute;
  left: -60px;
}

.datedescription {
  color: gray;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.singolocorrelato {
  display: flex;
}

.nomeutente {
  font-weight: bold;
  font-size: 13px;
}

/* ARTICLE BOTTOM */

.singolocorrelato {
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.descriptioncorrelato:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: rgb(250, 250, 250);
}

.correlatibottom h2 {
  font-weight: bold;
  font-size: 22px;
}

.correlatibottom p {
  display: inline;
}

.correlatibottom span {
  color: rgb(223, 221, 221);
  font-size: 36px;
  font-weight: bold;
  position: absolute;
  left: -60px;
}

.descriptioncorrelato img {
  border-radius: 50%;
  width: 1.5em;
}

.separeimg {
  display: flex;
  align-items: end;
  gap: 1.5em;
}

.fotodescription {
  border-radius: 0%;
  width: 14em;
}

p .commento {
  line-height: -10px;
}

.bottom {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

/* SEZIONE BOTTOM DESTRA */

.discover {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.discover h3 {
  font-weight: bold;
  flex-grow: 1;
}

.linksbottom {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 1em;
  width: 32em;
}

.linksbottom li {
  border: 1px solid rgb(223, 221, 221);
  color: gray;
  padding: 0.5em 1em;
  list-style: none;
  cursor: pointer;
}

.linksbottom li:hover {
  background-color: rgb(250, 250, 250);
}

.divisore {
  border: none;
  height: 1px;
  background-color: rgb(214, 214, 214);
  margin: 2em 0;
}

.lastlinks {
  list-style: none;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  width: 30em;
}

.lastlinks li {
  margin-right: 2em;
  color: gray;
  line-height: 30px;
}
